* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Remaining {
    width: clamp(200px, 100%, 1508px);
    margin: 0 auto;
    min-height: 415px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 16px;
    overflow: hidden;
    row-gap: 16px;
}

.imgRemaining {
    width: clamp(200px, 100%, 357px);
    position: relative;

}

.Discount {
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 104px;
    height: 62px;
    background-color: #F17228;
    border-radius: 0px 20px 0px 20px;
    display: flex;
    color: var(--theme-white, #FFF);

    /* Headline 2 Bold */
    font-size: 38px;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: 106%;
    justify-content: center;
    align-items: center;
    padding-left: 2px;
}

.Remaining img {
    width: 100%;
    height: 100%;
}

.Remaining-Data {
    width: clamp(200px, 100%, 357px);
    min-height: 415px;
}



.Discount div {
    display: flex;
    flex-direction: column;
    color: var(--theme-white, #FFF);

    /* Headline 6 */
    font-size: 22px;
    font-family: Source Sans Pro;
    line-height: 120%;
}

.Remaining-Data img {
    border-radius: 20px;
}

.Remaining-Data .DaysRemaining {
    margin-top: 32px;
}

.Remaining-Data .DaysRemaining h2 {
    color: var(--theme-gray-800, #424242);

    /* Headline 6 Bold */
    font-size: 22px;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: 120%;
}

.Remaining-Data .DaysRemaining h3 {
    width: 230px;
    color: var(--theme-warning, #F17228);
    padding: 8px 16px;
    border-radius: 8px;
    background: rgba(241, 114, 40, 0.20);
    /* Headline 6 Bold */
    font-size: 22px;
    font-family: Source Sans Pro;
    font-weight: 700;
    line-height: 120%;
    margin-top: 14px
}

@media screen and (max-width:410px) {
    .Remaining {
        justify-content: start;
    }
}